@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:wght@300;400;500;600;700;800;900&family=Spline+Sans:wght@300;400;500;600;700&display=swap');

body{
    font-family: "Spline Sans", sans-serif;
    color: #777;
    line-height: 1.7;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 800;
    color: #222;
}

a {
    color: #222;
    text-decoration: none;
    transition: all 0.4s;
    font-weight: 800;
}
a:hover {
    color: #F58d17;
}

.btn-brand {
    color: #222;
    background:whitesmoke;
    font-weight: 500;
    border: 1px solid white;
    margin-left: 20px;
}
.btn-brand:hover {
    vertical-align: middle;
    margin-right: 5px;
}

img {
    image-resolution: 100%;
    width: 100%;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.slide-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Loncheria_Torta.png);
}
.slide-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Loncheria_Sandwich.png);
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.6);
    width: 40px;
    height: 70px;
    margin: auto;
}

/* Nosotros */

#about .divider {
    width: 60px;
    height: 2px;
    display: block;
    background-color: #777;
}

/* Intro text */

.intro-text {
    margin-bottom: 40px;
    text-align: center;
}

.intro-text p {
    max-width: 500px;
    margin: 16px auto 0 auto;
}

/* Menu */

#menu .nav-pills .nav-link {
    background-color: white;
    margin-left: 8px;
    margin-right: 8px;
    color: black;
    border-radius: 100px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

#menu .nav-pills .nav-link.active {
    background-color: whitesmoke;
    color: black;
} 

